{
  auto_https off
  admin off

  servers :9443 {
    protocols h1 h2
  }
}

https://:9443 {
  tls /run/certs/fullchain.pem /run/certs/privkey.pem

  @access header Cf-Access-Jwt-Assertion *
  handle @access {
    reverse_proxy 127.0.0.1:3080 {
      header_up Host {$DSH_PUBLIC_HOST}
      header_up X-Forwarded-Proto https
      header_up X-DSH-Orbit-Authenticated-Proxy {$DSH_PROXY_AUTH}
    }
  }

  handle {
    basic_auth {
      {$DSH_LOCAL_USER} {$DSH_LOCAL_PASSWORD_HASH}
    }

    reverse_proxy 127.0.0.1:3080 {
      header_up Host {$DSH_PUBLIC_HOST}
      header_up X-Forwarded-Proto https
      header_up X-DSH-Orbit-Authenticated-Proxy {$DSH_PROXY_AUTH}
    }
  }
}
